<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.runoob.test.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/TomcatTest/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuWuLv_Servelet</display-name>
    <servlet-name>FuWuLv_Servelet</servlet-name>
    <servlet-class>com.xhu.www.Demo_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuWuLv_Servelet</servlet-name>
    <url-pattern>/FuWuLv_Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Html_Servelet</display-name>
    <servlet-name>Html_Servelet</servlet-name>
    <servlet-class>com.xhu.www.Html_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Html_Servelet</servlet-name>
    <url-pattern>/Html_Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuddenVisit_Servelet</display-name>
    <servlet-name>SuddenVisit_Servelet</servlet-name>
    <servlet-class>com.xhu.www.SuddenVisit_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuddenVisit_Servelet</servlet-name>
    <url-pattern>/SuddenVisit_Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main_Servelet</display-name>
    <servlet-name>Main_Servelet</servlet-name>
    <servlet-class>com.xhu.www.Main_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main_Servelet</servlet-name>
    <url-pattern>/Main_Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cpu_Servelet</display-name>
    <servlet-name>Cpu_Servelet</servlet-name>
    <servlet-class>com.xhu.www.Cpu_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cpu_Servelet</servlet-name>
    <url-pattern>/Cpu_Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceRate_Servelet</display-name>
    <servlet-name>ServiceRate_Servelet</servlet-name>
    <servlet-class>com.xhu.www.ServiceRate_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceRate_Servelet</servlet-name>
    <url-pattern>/ServiceRate_Servelet</url-pattern>
  </servlet-mapping>
</web-app>